.no-pad{
	padding: 0px 0px 0px 0px;
}
.img-fit{
	max-width: 100%; 
	max-height: 100%;
}
.bg-black{
	background-color: black;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}
.bg-{
	background-color: #FFF5EE;
}

.font-div{
	width: 40%;
}

.font-sub{
	font-family: "Dancing Script", cursive;
}

body {
	background-image: url(31.jpg);
}

.hl:link, .hl:visited {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}
.hl:hover {
    opacity:0.8;   
}

.clk:hover {
	opacity: 0.8;
	cursor: pointer;
}

@media only screen and (min-width: 1198px){
	.font-div{
		padding: 62.5px 0px!important;
	}

}
